body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: url(../img/browserimg2.jpg);
    background-size: cover;
}

#board {
    width: 615px;
    height: 650px;

    margin: auto;
    display: flex;
    flex-wrap: wrap;

    background-color: grey;
    background: url(../img/boardimg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: 4px solid black;
    border-radius: 5px;
}

#board div{
    width: 123px;
    height: 130px;
    background-image: url("../img/pokeball.png");
    background-size: cover;
}


#board div img {
    width: 100%;
    height: 100% ;
}

